<%= form_tag("/", method: 'get') do %>
  <div><%= label_tag "Date:" %>
  </div>
  <div><%= select_date Date.today, prefix: :start_date %>
  </div>
  <div> <%= label_tag "Amount in dollars:" %>
  </div>
  <div><%= number_field_tag(:amount) %>
  </div>
  <%= submit_tag "submit" %>
<% end %>

<% if @amount == nil %>
  <h3>Please enter a day and amount!</h3>
<% else %>
  <h3>You could have bought: <%= @amount %> bitcoins, which is worth: <%= @worth_today %> </h3>
<% end %>




<span>Thanks to BlockChain! Check out their API <%= link_to 'here', 'https://blockchain.info/api' %></span>